* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.TopNav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #5700ff;
  z-index: 10;
}

.navbar-container {
  display: flex;
  height: 55px;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#stackswan-logo {
  margin-top: 10px;
}
