* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.Home {
  min-height: 100vh;
  background-color: #d9d9d9;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: center;
  background-color: #d9d9d9;
}

.data-container {
  display: flex;
  min-height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  overflow-y: scroll !important;
  overflow: hidden;
}

.Modal {
  position: absolute;
  top: 30vh;
  left: 30vw;
  right: 30vw;
  bottom: 30vh;
  outline: none;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 20px #5e5e5e;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 10px 0px 10px;
}

.Overlay {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.15);
}

.Modal p {
  text-align: center;
  padding: 0vw 4vw 0vw 4vw;
  margin-bottom: 20px;
  font-size: 16px;
  color: #2c2a2a;
  font-weight: 500;
}

#save-db-link-button {
  background-color: #ffffff;
  color: #26b950;
  border: 2px solid #26b950;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  height: 40px;
  width: 70px;
  margin: 0px 5px 5px 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  cursor: pointer;
  outline: none;
}

#save-db-link-button:hover {
  background-color: #26b950;
  color: #ffffff;
}

#db-link-input {
  width: 214px;
  height: 40px;
  text-align: justify;
  padding: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  color: #2c2a2a;
  background: #ffffff;
  border: 1px solid #26b950;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  margin: 2px 2px 2px 2px;
}

#db-link-input:hover {
  border: 1px solid #26b950;
  box-shadow: 0px 0px 4px #26b950;
}

#modal-close-button {
  background-color: #ffffff;
  color: red;
  border: 2px solid red;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  height: 40px;
  width: 70px;
  margin: 0px 5px 5px 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  cursor: pointer;
}
#modal-close-button:hover {
  background-color: red;
  color: #ffffff;
}

#modal-install-button {
  background-color: #ffffff;
  color: #26b950;
  border: 2px solid #26b950;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  height: 40px;
  width: 70px;
  margin: 0px 5px 5px 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  cursor: pointer;
}
#modal-install-button:hover {
  background-color: #26b950;
  color: #ffffff;
}

.network-card-grid {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  column-gap: 10px;
  row-gap: 10px;
}

.local-connection-control-container {
  margin-top: 20px;
}

.install-button {
  height: 100px;
  width: 100px;
  background: #ffffff;
  font-weight: 500;
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  color: #2c2a2a;
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  outline: none;
  cursor: pointer;
}

.install-button:hover {
  background: #f5f5f5;
}

.local-connection-title {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #2c2a2a;
}

.local-connection-vitals-card-grid {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 0px;
  column-gap: 10px;
  row-gap: 10px;
}

.connect-button {
  margin-top: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  width: 327px;
  height: 75px;
  background: #2dd75c;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.connect-button:hover {
  background: #26b950;
}

.live-data-Link {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  width: 327px;
  height: 75px;
  background: #32a7dd;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.live-data-Link:hover {
  background: #258ebe;
}

.footer {
  margin-top: auto;
}

@media screen and (max-width: 900px) {
  .Modal {
    position: absolute;
    top: 30vh;
    left: 20vw;
    right: 20vw;
    bottom: 30vh;
  }
  #db-link-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #db-link-input {
    margin-bottom: 10px;
  }
}
