* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.Card {
  height: 100px;
  width: 100px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card-value {
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #2c2a2a;
}

.card-name {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #2c2a2a;
}

.card-status-color {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #d72d2d;
  margin-left: 70%;
  margin-top: 5%;
}
