* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.BottomNav {
  position: fixed;
  width: 100%;
  background: #ffffff;
  z-index: 9;
  height: 55px;
  margin-top: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 37px;
  text-align: center;
  color: #2c2a2a;
}
